@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suas customizações opcionais podem vir aqui */
/* static/css/main.css */

/* Força todos os campos a terem uma borda azul quando focados */
input:focus, 
textarea:focus, 
select:focus {
  border-color: #3b82f6 !important; /* blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3) !important;
  outline: none !important;
}

/* Estilização específica para inputs de data para garantir consistência entre navegadores */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}